 @import "config";

.header{
  width: 100%;
  height:  $h-header;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(51,51,51,.2);
  position: fixed;

  &__logo{
    margin: 5px 0;
    text-align: center;

    &-image{
      width: 150px;
      height: 20px;
    }
  }

}